#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700px;
  font-size: 2.5em;
  height: 250px;
  cursor: pointer;
  transition: .15s;
  transform: perspective(1000px) 
    rotateX(var(--rotate-X, 0));
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
}
.front, .back {
  position: absolute;
  padding: 5px;
  backface-visibility: hidden;
}
.front {
  color: black;
}
.back {
  color: Black;
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}
.single {
  background-color: aliceblue;
}
.composite {
  background-color: blanchedalmond;
}